doctype html
html
   head
      title Settlers
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
      script(src='/socket.io/socket.io.js')
      script(src="./require.js")
      script(src="./kinetic-v4.7.4.min.js")
      script(src="./board.js")
      link(rel="stylesheet", href="style.css")
   body
      div#container
         div#mainGame
            div#board
            div#handWindow
            div#controls
               input#resource
               button#giveResource GIMME RES
               button#giveDev GIMME DEV
               button#roll Roll
               button#discard Discard
               button#endTurn End Turn
         div#interactions
            div#devContainer
               div#devWindow
               button#buyDev Buy Dev
               button#useDev Use Dev
            div#tradeContainer
               .header
                  p Trading
               div#tradeWindow
               div#tradeButtons
                  button#trade Accept Trade
                  button#exchange Exchange
                  button#clearTrade Clear
            div#logContainer
               .header
                  p Chat/Log
               div#log
               div#chat
                  input#dialog