doctype html
html
   head
      title Settlers
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
      script(src='/socket.io/socket.io.js')
      script(src="./kinetic-v4.7.4.min.js")
      script(src="./globals.js")
      script(src="./board.js")
   body
      div#container
      button#nextTurn Next Turn