doctype html
html
	head
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
		script(src='/socket.io/socket.io.js')
		script(src="./require.js")
		script(src="/lib/client/client.js")
	body
		p hello there
		div