
#container {
	display: inline-block;
	background-color: darkblue;
	text-align: center;
}

#logger {
	position: relative;
	display: inline-block;
	margin: 0 10px;
	width: 40%;
	height: 600px;

	font-size: 10px;
	font-family: sans-serif;
	vertical-align: top;
}

#chat {
	position: absolute;
	bottom: 0;
}

#dialog {
	width: 350px;
}