#game {
	display: none;
}

#board .kineticjs-content {
	background: darkblue;
}

#chat {
	width: 500px;
}

#log {
	overflow-y: scroll;
	height: 100px;
}

#log p {
	margin: 0;
	font-size: .7em;
}

#log .code.INFO {}
#log .code.SUCCESS {color: green;}
#log .code.WARN {color: gold;}
#log .code.ERROR {color: red;}
#log .code.CHAT {color: black;}

#devWindow, #tradeWindow {
	text-align: center;
}

.tradeLabel {
	position: relative;
	top: -125px;
}

.tradeLabel.left {
	float: left;
	-webkit-transform: rotate(-90deg); 
	-moz-transform: rotate(-90deg);	
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.tradeLabel.right {
	float: right;
	-webkit-transform: rotate(90deg); 
	-moz-transform: rotate(90deg);	
	-o-transform: rotate(90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

#priceChart {
	font-size: .7em;
}

ul.resources {
	display: inline-block;
}

ul.resources li:after {
	content: '\2588';
}

.wood { color: forestgreen; }
.brick { color: brown; }
.wool { color: chartreuse; }
.wheat { color: gold; }
.coal { color: grey; }